[submodule "Catch2"]
	path = vendor/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "vendor/benchmark"]
	path = vendor/benchmark
	url = https://github.com/google/benchmark
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest
[submodule "vendor/abseil-cpp"]
	path = vendor/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt
